* {
    padding: 0;
    margin: 0;
}

body {
    background-color: azure;
}

.Headings {
    position: sticky;
    top: 0px;
    color: rgba(172, 120, 41, 0.918);
    background-color: rgba(171, 229, 229, 0.734);
  
    text-align: center;
    height: 38px;
    padding-top: 23px;
}

.HeadButtons {

    margin: 0px 47px;
    cursor: pointer;
    
}

.HeadButtons:hover {
    background-color: rgb(171, 229, 229)
}

.UserInfo {
    border: 1px solid;
    width: 300px;
    height: 55px;
    margin: 20px auto;
    padding: 10px;
    padding-top: 15px !important;
}
a{
    text-decoration: none;
    color:inherit;
}