.calucalator{
border:1px solid;
}
.displayResult{
    border:2px solid;
    width:274px;
    height:20px;
    margin:auto;
}
ul{
    list-style: none;
    border:1px solid;
    padding:0px;
    margin:auto;
    width:274px;
    height:300px;
    clear:both;
}
ul li{
    border:1px solid;
    border-radius: 10px;
    padding:3px ;
    margin-top: 2px;
    text-align: center;
    width: 83px;
    height: 26px;
    float:left;
    background-color: blue;
}